<!DOCTYPE html>
<html lang="en">

<head>
    <title>iTunes Player</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body>
    <div class="container">
        <nav class="navbar" id = navArea>
            <ul class="nav-links">
                <li><a href="/private/home">Home</a></li>
                <li><a href="#playlistArea">Playlist</a></li>
                <li><a href="/private/local">Add Local Media</a></li>
            </ul>
        </nav>

        <div class = "wrapper" id = inputArea>
            <h3>Enter Song Title: </h3><input type="text" id="title" />
            <button id="submit_button"  style="margin-bottom: 50px;" onclick="getSongs()">Submit</button>
        </div>

        <div class = "wrapper" id = searchArea>
            <h2 id = songsMatchingTitle></h2>
            <table id="searchAreaTable">
            </table>
        </div>

        <div class = "wrapper" id = playlistArea>
            <h2>Playlist</h2>
            <table id="playlistTable">
                <tr>
                    <th>Title</th>
                    <th>Artist</th>
                    <th>Artwork</th>
                </tr>
                {{#each playlistSongs}}
                    <tr>
                        <td>{{this.trackName}}</td>
                        <td>{{this.artistName}}</td>
                        <td><img src="{{this.artworkURL}}" alt="{{this.artworkURL}}"></img></td>
                    </tr>
                {{/each}}
            </table>
        </div>
    </div>
    <script src="/index.js"></script>
</body>

</html>
